<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Nestor Admin Portal</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
   <div class="wrapper-portal">
        <aside class="sidebar">
            <partial name="Partials/_LinkLogotype" />
            <partial name="Partials/_NavLinks" />
        </aside>
        <header class="header">
            <a class="btn btn-logout" asp-controller="Auth" asp-action="Logout">Log out</a>
        </header>
        <main class="main">
            @RenderBody()
        </main>
   </div>
            
      
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
