<div id="account-container">
    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn btn-account">
        <img src="~/images/users/user-template-male-green-svg.svg" alt="template avatar" />

    </button>
    <div id="account-dropdown" class="dropdown ">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="~/images/users/user-template-male-green-svg.svg" alt="template avatar" />
                <span>Rasmus Waleij</span>
            </div>
            <div class=""></div>
        </div>
        <div class="dropdown-body">
            <nav class="dropdown-options">
                <a class="dropdown-option">
                    <label for="darkModeToggle" class="switch-label">
                        <i class="fa-solid fa-cog"></i>
                        <span>Darkmode</span>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode" />
                        <span class="slider"></span>
                    </label>
                </a>


            </nav>
            <div class="divider"></div>
            <nav class="dropdown-actions">
                <a class="dropdown-action" href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>


            </nav>
        </div>
    </div>

</div>